.LoginWindow{
    margin: auto;
    width: 50%;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.confirmationWindow{
    position: absolute;
    transform: translate(500px, 200px);
}