/* PlayerBar */
.PlayerBar{
    float: left;
    background-image: url('../Images/Character_info.png');
    background-repeat: no-repeat;
    background-size: 24vw 100vh;

    background-color: #282c34;
    width: 24vw;
    height: 100vh;
    margin-left: -1.5vw;
}

/* MainMenu */
.MainMenu{
    background-color: #282c34;
    padding-top: 10vh;
    height: 100vh;
}




/* Desktop styles */
.LoginWindow{
    background-color: #282c34;
    background-image: url('../Images/CyberSunsetBGNEW.gif');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

.LoginWindow input{
    width: 550px;
}

.LoginWindow button{
    font-size: 30px;
}

.OkBtn{
    transform: translate(490px, 100px);
}

.CancelBtn{
    position: fixed;
    transform: translate(0px, 40px);
}

.LoginWindowContents{
    transform: translate(100px, 60px);
}



.card {
  width: 500px;
  background-color: rgba(111, 111, 111, 0);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    width: 45vw;
}

.card-body {
    background-color: rgba(111, 111, 111, 0);
    background-repeat: no-repeat;
    background-image: url('../Images/BattleWindow.png');
    background-size: 800px 450px;
    width: 100vw;
    height: 100vh;

}

.RegisterBody{
  transform: translate(100px, 20px);
    
}

.errorMsg{
    transform: translate(0px, 50px);
}

.RegisterBtn{
position: fixed;
transform: translate(380px, 100px);

}

.RegisterCancelBtn{
position: fixed;
  transform: translate(0px, 100px);

}

.divider{
    width: 5px;
    display:inline-block;
}

.confirmationWindow{
    height: 100vh;
    width: 100vw;
}

.createPlayerMain{
    user-select: none;
    color: white;
}

.Playerinput{
    transform: translate(750px, -1550px);
    width: 400px;
}

.givePoints{
    transform: translate(775px, -1500px);
    font-size: 30px;
    display: grid;
}

.PlusMinus{
    transform: translate(-75px, 45px);
}

.Characterselect{
    display: fixed;
    transform: translate(0px, -500px);
    font-size: 30px;
}

.CreatePlayerSaveB{
    transform: translate(525px, -675px);

    font-size: 200px;
}

.mainAudio {
}

.Audiodiv{
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 99vw;
}

.TitleImage{
}

.LoginRegisterBtns{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    width: 18vw;
}


/* .BGImage{
    z-index: 0;
    top: 30vh;
    height: 100vh;
    width: 100vw;
} */

/* Mobile styles */

.WelcomeImageM{
}

.BGImageM{
}

.LoginRegisterMp{
    text-align: center;
    padding-top: 20vh;
}

.LoginRegisterMnonp{
    text-align: center;
    margin-top: -50vh;
}

.LoginRegisterMainM{
    height: 100vh;
}


.LoginMainM{
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/CyberSunsetBGNEW.gif');
    background-repeat: no-repeat;
    background-size: 200vw 100vh;
}

.LoginFormM{
    padding-top: 10vh;
    padding-left: 5px;
    padding-right: 5px;
}

.OkBtnM{
    display: inline-block;
    padding-right: 5px;

}

.CancelBtnM{
    display: contents;
}

.LoginButtonsM button{
    font-size: 30px;

}

.LoginButtonsM{
    text-align: center;
    margin-top: 10vh;
}

.CreateCharacterMainM{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    color: white;
}


.ConfirmationMainM{
    height: 100vh;
    width: 100vw;
    color: white;
}