.Attribute{
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 75%;
    color: aliceblue;
    text-align: center;
}

.AttributeWindow{
    border: 2px solid cornflowerblue;
    background-color: lightskyblue;
    padding-top: 5px;
    border-radius: 5px;
}

.PlayerProfileImage{
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color: lightskyblue;

}

.PlayerStats{
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color: lightskyblue;

}

.Inventory{
    text-align: center;
    display: flex;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color: lightskyblue;
}

.InventoryItem{
    
}

.InfoTemplate{
    height: 100vh;
}

.PlusMinus{
    margin: auto;
    width: 70%;
}


.CImage{
    text-align: center;
    margin-top: 16%;
    margin-left: -3%;
}

.InventoryP{
    transform: translate(120px, 390px);
    width: auto;
    height: 200px;
    font-size: 20px;
    display: table;
}

.PlayerInfo{
    transform: translate(45%, 320px);
    color: white;
    font-size: 16px;
    line-height: 1px;
}

.AttributeList{
    transform: translate(100px, 395px);
    height: 95px;
    width: 110px;
    font-size: 20px;

}