.Main{
    position: relative;
    width: 512px;
    height: 512px;
    background-color: rgb(50, 57, 94);

}

.MainWindow{
    border: 2px solid rgb(50, 57, 94);
    border-radius: 5px;
    width: 515px;
    margin-left: 5px;
    transform: translate(115px, -320px);
    text-align: center;
    background-color: rgb(27, 31, 49);
}

.MainM{
    position: relative;
    width: 100vw;
    height: 23.5rem;
    background-color: rgb(50, 57, 94);
    text-align: center;
}

.MainWindowM{
    border: 2px solid rgb(50, 57, 94);
    border-radius: 5px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(27, 31, 49);
}

