/*BlackJack Styles*/

.BlackJackGameWindow{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 20vh;
    color: white;
    width: 30%;
    height: 40%;
    border: 2px solid white;
    border-radius: 5px;
}

.BlackJackGameWindowM{
    transform: scale(0.9);
    margin-left: -20px;
    color: white;
}

.BlackJackGameBoard{
text-align: center;

}

.BlackJackStartMenu{
    display: grid;
    text-align: center;
    margin-top: 15vh;
}

.BlackJackLost{
    text-align: center;
    display: grid;
}

.BlackJackWin{
    text-align: center;
    display: grid;
}

.BlackJackPlayingCard{
    width: 100px;
    height: 110px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid gray;
    background-color: azure;
    color: red;
    border-radius: 5px;
}

.BlackJackCardsPlayer{

    display: flex;
}

.BlackJackCardsDealer{
    display: flex;
}

.BlackJackPlayingCardTop{
    display: flex;
}

.BlackJackPlayingCardTopL{
    display: inline-grid;
    margin-left: 3px;
}

.BlackJackPlayingCardTopR{
    display: inline-grid;
    margin-left: 48px;
}

.BlackJackPlayingCardBottom{
    display: flex;
    transform: scale(1, -1);
}

.BlackJackPlayingCardBottomL{
    display: inline-grid;
    margin-left: 3px;
}

.BlackJackPlayingCardBottomR{
    display: inline-grid;
    margin-left: 48px;
}

.BlackJackCardSpacer{
    height: 20px;
}

/*SlotMachine Styles*/

.SlotMachineReels{
 width: 29.3%;
 height: 100%;
}

.SlotMachineReelDivider{
    margin-left: 40px;
}

.SlotMachineGameWindow{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 20vh;
    color: white;
    width: 35%;
    height: 60%;
    border: 2px solid white;
    border-radius: 5px;
}

.SlotMachineReelsWindow{
    height: 50vh;
}

/*SlotMachine Mobile Styles*/

.SlotMachineGameWindowM{
    width: 100vw;
}

.SlotMachineReelsWindowM{
    width: 90vw;
    height: 50vh;
}

/*Roulette Styles*/

.RouletteGameWindow{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10vh;
    color: white;
    width: 55%;
    height: 65%;
    border: 2px solid white;
    border-radius: 5px;

}


.CellBoard{
    display: grid;
    width: 9vw;
    grid-template-columns: 70px 70px 70px ;
}

.CellSelect{
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}

.Chip{
    background-size: 50px 50px;
    background-position: 0px 0px;
    padding-top: 10px;
    height: 50px;
    width: 50px;
    color: black;
    z-index: 100;
    text-align: center;
    background-repeat: no-repeat;
    transform: translate(10px, -35px);
}