body {
  margin: 0;
  font-family: 'Mode Seven', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1080px;
  width: 1920px;
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Mode Seven';
  font-style: normal;
  src: local('Mode Seven'), url(./Fonts/modeseven-L3n5.ttf) format('truetype');
}